<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item" id="order" style="display: none">
          <a class="nav-link active" aria-current="page" href="/order"
            >주문목록</a
          >
        </li>
        <li class="nav-item" id="search" style="display: none">
          <a class="nav-link active" aria-current="page" href="/books"
            >도서검색</a
          >
        </li>
        <li class="nav-item" id="users" style="display: none">
          <a class="nav-link active" aria-current="page" href="/users"
            >사용자목록</a
          >
        </li>
        <li class="nav-item" id="order2" style="display: none">
          <a class="nav-link active" aria-current="page" href="/order/admin"
            >주문관리</a
          >
        </li>
        <li class="nav-item" id="books" style="display: none">
          <a class="nav-link active" aria-current="page" href="/books/list"
            >도서목록</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/search"
            >지역검색</a
          >
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item" id="login">
          <a class="nav-link active" aria-current="page" href="/users/login"
            >LOGIN</a
          >
        </li>
        <li class="nav-item" style="display: none" id="mypage">
          <a class="nav-link active" aria-current="page" href="/users/mypage"
            >uid</a
          >
        </li>
        <li class="nav-item" style="display: none" id="cart">
          <a class="nav-link active" aria-current="page" href="/cart/list"
            >장바구니</a
          >
        </li>
        <li class="nav-item" style="display: none" id="logout">
          <a class="nav-link active" aria-current="page" href="/users/logout"
            >LOGOUT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  if (
    sessionStorage.getItem("uid") &&
    sessionStorage.getItem("uid") != "admin"
  ) {
    //일반사용자 로그인
    $("#login, #mypage, #logout, #cart, #order").toggle();
    $("#mypage a").html(sessionStorage.getItem("uid"));
  }

  if (
    sessionStorage.getItem("uid") &&
    sessionStorage.getItem("uid") == "admin"
  ) {
    //관리자가 로그인
    $("#login, #mypage, #logout, #search, #books, #users, #order2").toggle();
    $("#mypage a").html(sessionStorage.getItem("uid"));
  }

  $("#logout").on("click", "a", function (e) {
    e.preventDefault();
    if (confirm("정말로 로그아웃하실래요?")) {
      sessionStorage.clear();
      location.href = "/";
    }
  });

  $("#mypage").on("click", "a", function (e) {
    e.preventDefault();
    location.href = "/users/mypage?uid=" + sessionStorage.getItem("uid");
  });
</script>
