@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap");

* {
  font-family: "Dongle", sans-serif;
  font-size: 1.5rem;
}

form span {
  width: 100px;
  justify-content: center;
}
