<div class="my-5">
  <h1 class="text-center mb-5">주문하기</h1>
  <div id="div_order"></div>
  <div class="text-center mt-3">
    <button id="btn-order" class="btn btn-success px-5">주문하기</button>
  </div>
</div>
<script id="temp_order" type="x-handlebars-template">
    <table class="table">
        {{#each order}}
        <tr class="book" book="{{toString @this}}">
            <td><img src="{{image}}" width="70"></td>
            <td>{{title}}</td>
            <td>{{fmtprice}}원</td>
            <td>{{qnt}}</td>
            <td>{{fmtsum}}원</td>
        </tr>
        {{/each }}
        <tr>
          <td colspan="5" class="text-end py-3 pe-5">
              주문총금액: <sapn id="sum">0</span>원
          </td>
      </tr>
    </table>
    <div class="my-5">
      <h1 class="text-center mb-5">주문자정보</h1>
      <div class="input-group mb-3">
          <span class="input-group-text"> 주문자명</span>
          <input id="rname" class="form-control" value="{{user.uname}}">
    </div>
      <div class="input-group mb-3">
          <span class="input-group-text"> 전화번호</span>
          <input id="rphone" class="form-control" value="{{user.phone}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text"> 주소</span>
      <input id="raddress1" class="form-control" value="{{user.address1}}">
      <button class="btn btn-primary">검색</button>
  </div>
  <input id="raddress2" class="form-control" value="{{user.address2}}">
  <input id="sum1" type="hidden">
  </div>
</script>
<script>
  Handlebars.registerHelper("toString", function (book) {
    return JSON.stringify(book);
  });
</script>
<script>
  const cart = "<%=cart%>";
  getOrder();

  //주문하기 버튼을 클릭한 경우
  $("#btn-order").on("click", function () {
    if (confirm("위 상품을 주문하실래요?")) {
      const uid = sessionStorage.getItem("uid");
      const rname = $("#div_order #rname").val();
      const rphone = $("#div_order #rphone").val();
      const raddress1 = $("#div_order #raddress1").val();
      const raddress2 = $("#div_order #raddress2").val();
      const sum = $("#div_order #sum1").val();
      console.log(
        "...................",
        uid,
        rname,
        rphone,
        raddress1,
        raddress2,
        sum
      );
      $.ajax({
        type: "post",
        url: "/order/purchase/insert",
        data: { uid, rname, rphone, raddress1, raddress2, sum },
        success: function (pid) {
          alert(pid);
          //주문상품등록
          $("#div_order .book").each(async function () {
            const book = JSON.parse($(this).attr("book"));
            console.log(book);
            await $.ajax({
              type: "post",
              url: "/order/book/insert",
              data: { ...book, pid },
            });
          });
          alert("주문이 완료되었습니다!");
          location.href = "/";
        },
      });
    }
  });
  function getOrder() {
    $.ajax({
      type: "get",
      url: "/order/cart.json",
      data: { cart, uid: sessionStorage.getItem("uid") },
      success: function (data) {
        const temp = Handlebars.compile($("#temp_order").html());
        $("#div_order").html(temp(data));
        let sum = 0;
        data.order.forEach((item) => {
          sum += item.sum;
        });
        $("#sum").html(
          sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원"
        );
        $("#div_order #sum1").val(sum);
      },
    });
  }
</script>
